@use '00_common/variables.scss'; 

body {
    font-family: variables.$secondary-font;
    background-color: none;
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}

*,
*::before,
*::after {
    box-sizing: border-box; /* Zorg ervoor dat padding/border niet buiten de container valt */
}

