@use '00_common/variables.scss'; 

.hero-image {
    display: flex; 
    justify-content: center; 
    padding: 70px; 
    margin: 0; 
    margin-top: 70px; 
}
.school-image {
    width: 90%;
    border-radius: 6px;
}