//COLORS
$primary-color: #377F9E;
$primary-color-darker: #115673;

$grey-light: #F2F2F2; 
$grey-dark: #7F7F7F; 
$black-light: #1D1D1D; 

//common colors
$white: white; 
$black: black; 

//FONTS
$primary-font: 'KDG-font'; 
$secondary-font: 'Roboto'; 