@use '00_common/variables'; 

.courses-heading, .profile-filter, .study-program {
    padding: 50px; 
}

.courses-heading {
    margin-top: 75px; 
    background-color: variables.$black-light;
    color: variables.$white;  
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.subheading {
    font-size: 20px; 
}

.profile-filters-container {
    display: flex; 
    align-items: center;
    justify-content: center;
}
.header-btns, .profile-filter {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: center; 
}
.profile-filter {
    padding-bottom: 0;
}

.year-filter-btn, .profile-filter-btn {
    white-space: nowrap;
    text-decoration: none;
    color: inherit; 
    text-align: center;
    border-radius: 6px;
    background: none;
    padding: 7px; 
    flex: 0 0 48%;
    max-width: 200px; 
    box-sizing: border-box;
}
.year-filter-btn {
    border: 3px solid variables.$primary-color-transparent;
    flex: 1; 

    &.active {
        background-color: variables.$primary-color-transparent;
    }
    &:hover {
        background-color: #404040;
    }
}

.profile-filter-btn {
    width: 150px; 
    border: 3px solid variables.$dark-blue; 
    font-size: 16px; 
    font-family: variables.$secondary-font;

    &:hover {
        background-color: variables.$grey-light;
    }
    &.active {
        background-color: variables.$primary-color;
        color: white; 
        font-weight: 600; 
        border: 3px solid variables.$primary-color; 
    }
}
.study-program {
    display: flex; 
    justify-content: center;
}
.courses-table {
    width: 100%; 
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 16px;
    overflow: hidden; 
    border: 2px solid black; 

    thead th {
        background-color: variables.$dark-blue;
        color: white; 
        font-size: 15px; 
    }
    thead tr {
        background-color: variables.$dark-blue;
    }
    th, td {
        padding: min(2vw, 20px); 
        font-weight: 400; 
    }
    td {
        border: none;
    }
    tbody tr {
        position: relative; 
    }
    tbody tr:not(:last-child)::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 2%;
        right: 0; 
        width: 95%; 
        height: 1px; 
        background-color: black; 
    }

    svg {
        width: min(4vw, 40px); 
        color: variables.$dark-blue; 
    }
    .course-subject {
        font-weight: 600; 
    }
    .credits {
        text-align: center;
    }
    .profile {
        border: 1px solid black; 
        display: inline-block;
        font-weight: 400; 
        padding: 2px 15px;
        margin-bottom: 10px; 
        border-radius: 8px;
    }
    p {
        margin: 0; 
    }
}

@media screen and (min-width: 768px) {
    
    .header-btns, .profile-filter {
        flex-direction: row;
    }
    .courses-table {
        width: 80%; 
    }
}
