@use '00_common/variables'; 

@use '04_organisms/about'; 
@use '04_organisms/latest_posts'; 
@use '04_organisms/profiles'; 
@use '04_organisms/courses'; 
@use '04_organisms/discover'; 
@use '04_organisms/portfolios'; 
@use '04_organisms/faq'; 

.contact-us {
    padding: 100px; 
    gap: 70px; 
}
.contact-info {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}
.contact-us-form {
    display: flex; 
    flex-direction: column;

    label, input, textarea, ::placeholder {
        font-family: variables.$secondary-font;
        font-size: 14px; 
    }
    label {
        font-weight: 600; 
        margin-bottom: 5px;  
    }
    input, textarea {
        border-radius: 6px; 
        border: 2px solid rgba(0, 0, 0, 0.1);
        padding: 10px; 
    }
    input {
        margin-bottom: 15px;
        box-sizing: border-box; 
    }
    textarea {
        height: 120px; 
        resize: none; 
    }
    :focus {
        border: 3px solid variables.$primary-color; 
        outline: none; 
    }

    .buttons {
        display: flex; 
        gap: 12px; 
        margin-top: 20px;
        width: 100%; 

        .secondary-btn {
            border: 2px solid black; 
        }
        .primary-btn, .secondary-btn {
            width: 100%; 
        }
    }
    .buttons a {
        width: 50%; 
    }
}

@media screen and (min-width: 768px) {
    .about-latest-container, .profiles {
        flex-direction: row;
        gap: 15px; 
        width: 100%; 
    }
    .about, .latest-posts, .profiles-links, .profiles-info {
        width: 50%; 
    }
    .subject-cards-container {
        flex-direction: row;
        box-sizing: border-box;
    }
    .discover-your-passion {
        flex-direction: row;
        text-align: left;
    }

    .portfolio {
        .subject-cards-container {
            flex-wrap: wrap;
            width: 70%; 
        }

        .subject-card {
            flex: 1 1 calc(50% - 20px);
            box-sizing: border-box;
        }
    }

    .subject, .portfolio {
        padding: 50px; 
    }
    .faq {
        width: 70%; 
    }
    .faq-question svg {
        width: 20px;
        height: auto; 
        color: variables.$primary-color;
    }
    .contact-us {
        display: flex; 
    }
    .contact-info, .contact-form {
        width: 50%; 
    }
    
}