@use '00_common/variables'; 

@use '04_organisms/about'; 
@use '04_organisms/latest_posts'; 
@use '04_organisms/profiles'; 
@use '04_organisms/discover'; 



.subject-cards-container {
    display: flex; 
    gap: 20px; 
    flex-direction: column;
}
.subject {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .primary-heading {
        margin-bottom: 40px;
    }
}

.subject-card {
    border: 2px solid variables.$grey-light;
    border-radius: 6px;
    padding: 15px; 
    gap: 15px; 
    width: 100%; 
    display: flex; 

    .main-img {
        width: 100px; 
        height: 100px; 
        object-fit: cover; 
    }
    &-title {
        font-size: min(4vw, 20px);
        color: variables.$primary-color;
        font-weight: 600;
        margin: 0;
    }
    &-description {
        font-size: min(3.5vw, 16px); //16px
    }
    .creator-name {
        font-size: min(3vw, 16px);;
        font-weight: 600;
        width: 100%;
    }
}
.subject-card-info {
    display: flex; 
    flex-direction: column;
    flex-grow: 1;
}
.subject-card:hover {
    background-color: variables.$grey-light;
}

.portfolio {
    padding: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .subject-card .main-img{
        width: 25%; 
        height: 100%; 
    }
}
.project-creator {
    display: flex;  
    flex-grow: 1;
    width: 100%; 
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    
    p, img {
        margin: 0; 
    }
    &-icon {
        width: 20px; 
    }
}

.creator-details {
    display: flex; 
    width: auto; 
    gap: 1vw; 
}


@media screen and (min-width: 768px) {
    .about-latest-container, .profiles {
        flex-direction: row;
        gap: 15px; 
        width: 100%; 
    }
    .about, .latest-posts, .profiles-links, .profiles-info {
        width: 50%; 
    }
    .subject-cards-container {
        flex-direction: row;
        box-sizing: border-box;
    }
    .discover-your-passion {
        flex-direction: row;
        text-align: left;
    }

    .portfolio {
        .subject-cards-container {
            flex-wrap: wrap;
            width: 70%; 
        }

        .subject-card {
            flex: 1 1 calc(50% - 20px);
            box-sizing: border-box;
        }
    }

    .subject, .portfolio {
        padding: 50px; 
    }
}