@font-face {
    font-family: 'KDG-font';
    src: url('/assets/fonts/KdG-Regular.otf/KdG-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto'; 
    src: url('/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}
