@use '00_common/variables.scss'; 


.primary-heading {
    font-family: variables.$primary-font;
    font-size: 50px; 
    margin: 0; 
}
.sub-heading {
    font-size: 14px; 
    font-weight: 600; 
}
.paragraph-text {
    font-size: 16px; 
}