@use '00_common/variables.scss'; 


.header {
    display: flex; 
    // background-color: #cbcbcb; 
    width: 100%; 
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px; 
}
.header-content {
    display: flex; 
    gap: 20px; 
    align-items: center;
}

.search-btn {
    width: 40px; 
    height: auto; 
    border: none; 
    background: none;
    padding: 5px; 

    svg {
        width: 20px; 
    }
}

.search {
    border: 1px solid variables.$grey-light; 
    margin: 0; 
    padding: 0; 
    height: auto; 
    display: flex; 
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    
    input {
        border: none; 
        background: none;
        height: 20px; 
        box-sizing: border-box;
        padding-left: 10px;
        font-family: variables.$secondary-font;
    }
    input:focus {
        outline: none; 
        color: variables.$primary-color; 
        font-weight: 500;
    }
    ::placeholder {
        font-family: variables.$secondary-font;
        color: variables.$grey-dark; 
    }
}