@use '00_common/variables'; 


.profiles-links, .profiles-info {
    padding: 50px; 
}

.profiles-links {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap;

    .profile-item {
        display: flex; 
        flex-direction: column;
        align-items: center;
        box-sizing: border-box; 
        flex: 1 1 45%; 
    }

    .profile-icon-wrapper {
        background-color: variables.$white;
        border-radius: 50%;
        padding: 2vh;
        width: 90px; 
        height: auto; 

        img {
            width: 100%; 
            height: 100%;
            object-fit: cover;
        }
    }
    .profile-icon-wrapper:hover {
        background-color: #d6d8e3;
    }

    a {
        color: variables.$primary-color; 
        text-decoration: none;

        &:hover {
            color: variables.$primary-color-darker;
            text-decoration: underline;
        }
    }
}

.profiles-info {
    text-align: right;
    padding: 10vh;
}